body {
	height: 100%;
	overflow-y: scroll;
}
::-webkit-scrollbar {display:none}
@font-face {
  font-family: "PoppinsBold";
  src: local("PoppinsBold"),url(../src/assets/fonts/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),url(../src/assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsItalic";
  src: local("PoppinsItalic"),url(../src/assets/fonts/Poppins-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsMedium";
  src: local("PoppinsMedium"),url(../src/assets/fonts/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsBlack";
  src: local("PoppinsBlack"),url(../src/assets/fonts/Poppins-Black.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: local("PoppinsSemiBold"),url(../src/assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsThin";
  src: local("PoppinsThin"),url(../src/assets/fonts/Poppins-Thin.ttf) format("truetype");
}

.row {
  display: flex;
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center
}
.space-center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}

.mt-3 {
  margin-top: 1.25rem !important;
}

.mr-3 {
  margin-right: 1.25rem !important;
}

.ml-3 {
  margin-left: 1.25rem !important;
}
.pr-3 {
  padding-right: 1.25rem;
}

.pl-3 {
  padding-left: 1.25rem;
}

.pr-5 {
  padding-right: 2.25rem;
}

.pl-5 {
  padding-left: 2.25rem;
}
.pr-6 {
  padding-right: 4.25rem;
}

.pl-6 {
  padding-left: 4.25rem;
}
.text-center {
  text-align: center;
}

.pokeball{
	width: 100px;
	height: 100px;
	display:inline-block;
	margin:20px;
	border: 6px solid #ccc;
	border-radius: 50%;
	background-image: -moz-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%), -moz-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
	background-image: -webkit-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%),-webkit-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position:fixed;
  right: 0;
}
.pokeball:before{
	content: "";
	display: block;
	position: absolute;
	z-index: 6;
	width: 20%;	
	height: 20%;
	background-color: #FFF;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #AAA, 0 0 0 10px #fff, 0 0 0 16px #3f3f3f;
	margin: 40%;
}
.pokeball:after{
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 94%;
	height: 10%;
	background-color:rgba(0,0,0,0);
	margin: 45% 3%;
	box-shadow: 12px 0 0 #FFF, -12px 0 0 #FFF;
}
@keyframes bounce {
	0% {bottom: -10px;
		-webkit-animation-timing-function: ease-in;
	}
	40% {}
	50% {bottom: 120px;
		height: 120px;
		-webkit-animation-timing-function: ease-out;
	}
	55% {bottom: 140px; height: 100px; 
		-webkit-animation-timing-function: ease-in;}
	65% {bottom: 100px; height: 120px; 
		-webkit-animation-timing-function: ease-out;}
	95% {
		bottom: -10px;		
		-webkit-animation-timing-function: ease-in;
	}
	100% {bottom: -10px;
		-webkit-animation-timing-function: ease-in;
	}
}
.scrollTop {
	background-color: rgb(107, 132, 215);
	border-radius: 100%;
	position: fixed;
	/* width: 100%; */
	bottom: 20px;
	height: 40px;
	width: 40px;
	z-index: 1000;
	cursor: pointer;
	right: 5%;
	animation: fadeIn 0.3s;
	transition: opacity 0.4s;
	opacity: 0.5;
	color: #FFF;
  }
  
  .scrollTop:hover {
	opacity: 1;
  }
  
  @keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 0.5;
	}
  }
